* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAV STYLES */
nav ul {
  display: flex;
  background-color: blanchedalmond;
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
}

a {
  text-decoration: none;
  color: gray;
}

/* RQ STYLES */
.rqpages {
  width: 100vw;
  display: flex;
}

.rqmain {
  width: 40vw;
  padding: 30px;
}

.rqoutlet {
  width: 60vw;
  padding: 30px;
}

.rqhr {
  border-left: 2px solid #ddd;
  margin: 20px 0px;
}

h2,
p {
  font-size: 32px;
  margin: 0px 0px 20px;
}

.rqbuttons {
  display: flex;
  flex-direction: column;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th,
tr:nth-child(even) {
  background-color: #dddddd89;
}

@media only screen and (max-width: 600px) {
  .rqpages {
    flex-direction: column;
  }

  .rqmain,
  .rqoutlet {
    width: 100vw;
  }

  .rqhr {
    display: none;
  }
}



button {
  background: #28d;
  border-color: transparent;
  color: #fff;
  padding: 20px 80px;
  margin: 20px 0;
  cursor: pointer;
  width: auto;
}

button:hover {
  background: #17c;
}

/* Buttons' focus effect */
button:focus {
  border-color: #05a;
}
